<div class="col-md-4 mb-4">
  <div class="card organization-card shadow-sm h-100 bg-white">
    <div class="card-body">
      <h5 class="card-title"><%= org.name %></h5>
      <hr style="border-top: 1px solid white;">
      <p class="card-text"><strong>Users Count: </strong> <span id="users-count">0</span></p>
      <hr style="border-top: 1px solid white;">
      <p class="card-text"><strong>Applications: </strong> <span id="applications-count">0</span></p>
      <hr style="border-top: 1px solid white;">
      <p class="card-text"><strong><%= org.title %></strong></p>
      <hr style="border-top: 1px solid white;">
    </div>
    <div class="card-footer">
      <a href="#" class="btn btn-outline-primary btn-sm">Fallback URL</a>
    </div>
  </div>
</div>