<section class="py-8">
  <div class="container">
    <div class="row mb-6">
      <div class="col-12 col-lg-auto mb-5 mb-lg-0">
        <h4 class="mb-0">Applications</h4>
      </div>
      <div class="col-12 col-lg-auto ms-auto mb-5 mb-lg-0">
        <div class="d-flex h-100 align-items-center">
          <div class="input-group mw-md h-100 pe-4 bg-white rounded border">
            <input class="form-control border-0" type="text" placeholder="Type to search...">
            <button class="btn btn-sm p-0" type="button">
              <svg width="18" height="18" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.0921 16.9083L15.0004 13.8417C16.2005 12.3453 16.7817 10.4461 16.6244 8.53441C16.4672 6.62274 15.5835 4.84398 14.155 3.56386C12.7265 2.28375 10.8619 1.59958 8.94451 1.65205C7.02711 1.70452 5.20268 2.48963 3.84636 3.84594C2.49004 5.20226 1.70493 7.02669 1.65247 8.94409C1.6 10.8615 2.28416 12.7261 3.56428 14.1546C4.84439 15.583 6.62316 16.4668 8.53482 16.624C10.4465 16.7812 12.3457 16.2001 13.8421 15L16.9087 18.0667C16.9862 18.1448 17.0784 18.2068 17.1799 18.2491C17.2815 18.2914 17.3904 18.3132 17.5004 18.3132C17.6104 18.3132 17.7193 18.2914 17.8209 18.2491C17.9224 18.2068 18.0146 18.1448 18.0921 18.0667C18.2423 17.9113 18.3262 17.7036 18.3262 17.4875C18.3262 17.2714 18.2423 17.0637 18.0921 16.9083ZM9.16708 15C8.01335 15 6.88554 14.6579 5.92625 14.0169C4.96696 13.3759 4.21929 12.4649 3.77778 11.399C3.33627 10.3331 3.22075 9.16019 3.44583 8.02863C3.67091 6.89708 4.22648 5.85767 5.04229 5.04187C5.85809 4.22606 6.89749 3.67049 8.02905 3.44541C9.1606 3.22033 10.3335 3.33585 11.3994 3.77736C12.4653 4.21887 13.3763 4.96654 14.0173 5.92583C14.6583 6.88512 15.0004 8.01293 15.0004 9.16666C15.0004 10.7138 14.3858 12.1975 13.2919 13.2914C12.1979 14.3854 10.7142 15 9.16708 15Z" fill="#382CDD"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-6">
      <% @apps.each do |app| %>
        <div class="col-12 col-md-6 col-lg-4 mb-6">
          <div class="pt-6 px-4 pb-4 bg-white rounded shadow">
            <div class="application">
              <%= app.svg.html_safe %>
            </div>
            <h5 class="text-center p-1"><%= app.name %></h5>
            <div class="d-flex align-items-center text-secondary">
              <span class="p-2 small"><%= app.long_name %></span>
            </div>
            <div class="d-flex align-items-center text-secondary">
              <ul>
                <li>35 Users</li>
              </ul>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</section>