<section class="py-12 py-lg-24 bg-black">
  <div class="container position-relative py-3">
    <h4 class="text-center p-4">Admin Dashboard</h4>
    <div class="mw-xl mx-auto text-center d-flex justify-content-around">
      <a href="/application" class="btn btn-primary">Applications</a>
      <a href="/organizations" class="btn btn-primary">Organizations</a>
      <a href="/users" class="btn btn-primary">Users</a>
      <a href="" class="btn btn-primary">Roles</a>
      <a href="" class="btn btn-primary">Rights</a>
      <a href="" class="btn btn-primary">Settings</a>
      <a href="" class="btn btn-primary">Account Settings</a>
    </div>
  </div>
</section>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
