<section class="py-12 py-lg-24 bg-black position-relative overflow-hidden">
  <div class="container position-relative py-4">
    <div class="mw-lg mx-auto text-center mb-20">
      <h1 class="font-heading h2 text-white mb-8" style="letter-spacing: -0.2rem;">SSO Single Sign On</h1>
      <p class="mw-sm mx-auto text-secondary-light mb-0">Seamlessly access all your apps with a single sign-on—one login, endless possibilities.</p>
    </div>
    <div class="mw-md mx-auto mw-lg-none">
      <div class="row">
        <div class="col-12 col-lg-6 mb-8 mb-lg-0">
          <div class="py-14 px-8 px-sm-14 rounded-4 border border-dark border-opacity-50">
            <h4 class="mb-6">Enhanced Security</h4>
            <p class="mw-sm text-secondary-light mb-12 mb-sm-24 mb-lg-52">Reduce the risk of password-related breaches with centralized authentication.</p>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="py-14 px-8 px-sm-14 rounded-4 border border-dark border-opacity-50">
            <h4 class="mb-6">Centralized Management</h4>
            <p class="mw-sm text-secondary-light mb-12 mb-sm-24 mb-lg-52">Simplify user management and streamline access control across your organization.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>