<section class="py-12 py-md-24 bg-light-light overflow-hidden">
  <div class="container">
    <h1 class="fw-medium mb-20">Our Services</h1>
    <div class="row align-items-center">
      <div class="col-12 col-lg-6 order-last order-lg-first">
        <img class="img-fluid d-block mx-auto mx-lg-0" src="https://media.geeksforgeeks.org/wp-content/uploads/20200611114248/ssologin.png" alt="Single Sign-On">
      </div>
      <div class="col-12 col-lg-6 mb-12 mb-lg-0">
        <button class="btn p-0 pb-6 mb-8 text-start border-0 border-bottom border-2 rounded-0 w-100">
          <div class="d-flex align-items-center">
            <span class="d-inline-block me-8 fs-9">01</span>
            <span class="d-inline-block fs-3">Streamlined Access</span>
            <span class="ms-auto">
              <svg width="25" height="25" viewbox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.8223 15.0312L12.4993 21.3542L6.17643 15.0313" stroke="black" stroke-width="1.61806" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M12.5 3.646L12.5 21.1772" stroke="black" stroke-width="1.61806" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </span>
          </div>
          <div class="mt-6">
            <p class="mb-0 fw-medium text-wrap">Experience seamless access to all your applications with our Single Sign-On (SSO) solution. Say goodbye to multiple logins and hello to efficiency.</p>
          </div>
        </button>
        <button class="btn p-0 pb-6 mb-8 text-start border-0 border-bottom border-2 rounded-0 w-100">
          <div class="d-flex align-items-center">
            <span class="d-inline-block me-8 fs-9">02</span>
            <span class="d-inline-block fs-3">Security</span>
            <span class="ms-auto">
              <svg width="25" height="25" viewbox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.8223 9.96875L12.4993 3.64583L6.17643 9.96875" stroke="black" stroke-width="1.61806" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M12.5 21.354L12.5 3.82276" stroke="black" stroke-width="1.61806" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </span>
          </div>
          <div class="mt-6">
            <p class="mb-0 fw-medium text-wrap">Our SSO solution enhances security by minimizing the number of credentials users must manage, reducing the risk of password-related breaches.</p>
          </div>
        </button>
        <button class="btn p-0 text-start border-0 rounded-0 w-100">
          <div class="d-flex align-items-center">
            <span class="d-inline-block me-8 fs-9">03</span>
            <span class="d-inline-block fs-3">Increased Productivity</span>
            <span class="ms-auto">
              <svg width="25" height="25" viewbox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.8223 15.0312L12.4993 21.3542L6.17643 15.0313" stroke="black" stroke-width="1.61806" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M12.5 3.646L12.5 21.1772" stroke="black" stroke-width="1.61806" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </span>
          </div>
          <div class="mt-6">
            <p class="mb-0 fw-medium text-wrap">By simplifying the login process, our SSO service boosts productivity, allowing your team to focus on their core tasks without interruption.</p>
          </div>
        </button>
      </div>
    </div>
  </div>
</section>
